.nav-top {
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
.had-language, .had-tel {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}
.had-logo {
    padding-top: 10px;
}
